    <div id="main">
        <div id="sample">
            <div id="doubts">
                <p>
                    Click here to ask doubts from different branch faculties
                </p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Branches</button>
            </div>
            <div id="permissions">
                <p>
                    click here to get permissions your HOD's
                </p>
                <button type="button" class="btn btn-primary"><a id="permit" href="/request-form">Permissions</a></button> 
            </div>
        </div>
    </div>
</body>
</html>